body {
    margin: 90px 270px;
}

.btn {
    padding: 10px 26px;
    background-color: #f9fafb;
    border: 2px solid #111827;
    border-radius: 0.5rem;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
}

.btn::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #b2c3e8;
    ;
    border-radius: inherit;
    translate: 6px 6px;
    transition: 0.3s;
    z-index: -1;
}

.btn:hover::after {
    translate: 0;
}

.btn:hover {
background-color:#526082;
color: #f9fafb;
}
